.app.dark {
	--bg-color: #0f001f;
	--primary-color: #7376ff;
	--secondary-color: #e0e0e0;
	--modal-bg: rgb(40, 40, 40, 100%);
	--modal-text-color: #e0e0e0;

	// --icon-redesigned: #74a2b2;
	// --accent-redesigned: #5ed3f3;
}
